
<div class="row">
  <div class="col-12">
      <div class="card">
          <div class="card-body">
            <h4 class="card-title">Barra de progreso</h4>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.ariaValuenow]="porcentaje1" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje1 + '%'"> {{porcentaje1}}%</div>
            </div>
            <br>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.ariaValuenow]="porcentaje2" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" [style.width]="porcentaje2 + '%'">{{porcentaje2}}%</div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (cambioValorP) = "porcentaje1 = $event" nombre ="Barra Azul" [porcentaje]="porcentaje1"></app-incrementador>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador  (cambioValorP) = "porcentaje2 = $event" nombre ="Barra verde" [porcentaje]="porcentaje2"></app-incrementador>
            </div>
        </div>
    </div>
  </div>

